<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
</head>

<body>
<div id="content">
	<div id="left">
		<div id="leftTop">
			<a href='https://hrapps4.conocophillips.net/hrexpress/login.aspx?ReturnToPage=/HRExpress/SabaSubmit.aspx'>
				<img src="../SiteAssets/images/icons-learningexpress-rounded.jpg" /></a>
			<h3>Access Learning Express Portal</h3>
			<span style="color:#333;font-size:18px;line-height:1.25em;margin-top:5px">Click link to the right to access the login page for the Learning Express Portal</span>
		</div>
	<div id="leftBottom">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#one" data-toggle="tab">Who We Are</a></li>
		  <li><a href="#two" data-toggle="tab">What We Are Doing</a></li>
		  <li><a href="#three" data-toggle="tab">Performance</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="one">
			  <div class="tabContentLeft" style="color:#333;font-size:18px;line-height:1.25em;">
			  The Talent Management and Learning Organization’s goal is to deliver the essential tools and resources to develop our employees and drive ConocoPhillips growth.
			  <br /><a href="#">Read More<i class="glyphicon glyphicon-chevron-right"></i></a>
			  </div>
			  <img src="../SiteAssets/images/contacts_people.png" />
		  </div>
		  <div class="tab-pane" id="two">
			  <div class="tabContentLeft" style="color:#333;font-size:18px;line-height:1.25em;">
			  Providing employees with cutting edge, and high quality learning and development opportunities is critical to cultivating the world’s best talent.
			  <br /><br /><a href="#">Read More<i class="glyphicon glyphicon-chevron-right"></i></a>
			  </div>
			  <img src="../SiteAssets/images/Gears.png" />
		  </div>
		  <div class="tab-pane" id="three">
			  <div class="tabContentLeft" style="color:#333;font-size:18px;line-height:1.25em;">
			  Maintaining a high performing and effective organization are key factors for sustainable learning and development programs.
			  <br /><br /><a href="#">Read More<i class="glyphicon glyphicon-chevron-right"></i></a>
			  </div>
			  <img src="../SiteAssets/images/Performance-Metrics.png" />
		  </div>
		</div>
	</div>
		<div class="clearfix"></div><p></p>
	</div>
	
	<div id="right">
	<div ng-include=" '../SiteAssets/views/viewAnnounce.html' "></div>
	</div>
	
	
</div>
</body>

</html>
